@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
html, body { 
  height: 100%;
  font-family: "Poppins", sans-serif; 
  color: #fff; 
  background: linear-gradient(to top left, #fe0098 0%, #9c04fc 76%);
  text-align: center;
}

.title{
 color: #fff;
text-align: center; 
}
.subtitle{
  color: #fff;
}
.strong{
 color: #fff; 
}
